.home-wrapper {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #09091a;
  margin: 0 .25em;
  height: 100%;
  min-height: 100vh;
}

.sidebar h1 {
  font-family: 'Oswald';
  color: white;
  text-align: center;
  font-weight: normal;
}

.sidebar hr {
  width: 100%;
  margin: 0 0 0.7em 7px;
}

.sidebar p {
  color: white;
  padding-left: 1em;
  font-size: 1.5em;
}

.sidebar ul {
  padding: 0;
  color: white;
  list-style: none;
}

.sidebar li {
  display: block;
  cursor: pointer;
  width: 100%;
  padding-left: 1em;
}

.logout {
  text-align: center;
  cursor: pointer;
}

.sidebar input {
  color: black;
  margin-left: 1em;
  width: 60%;
}

.sidebar button {
  margin-left: 1em;
  color: black;
}

.offline {
  float: right;

  font-size: 0.8em;
  color: red;
}

.online {
  float: right;

  font-size: 0.8em;
  color: #2ecc71;
}

.unread {
  float: right;
    border-radius: 50%;
    
    width: 20px;
    height: 20px;
    padding: 4px;

    background: #27ae60;
    color: white;
    text-align: center;
    line-height: 0;
}

.pane {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-wrap: nowrap;
}

.pane-top {
/*  display: inline-block;
  width: 100%;
  height: ; */
  padding-top: 1em;
  font-size: 1.5em;
  flex-shrink: 0;
}

.pane-main {
  flex-grow: 1;
  min-height: 2em;
  /*border: 1px solid #d3d3d3;*/
  overflow: auto;
}

.pane-bottom {
  flex-shrink: 0;
  margin-top: 10px;
  min-height: 50px;
}

input.chat {
  float: left;
  width: 80%;
  height: 40px;
  margin-top: 5px;
  margin-left: 2%;
  font-size: 1.5em;
}

button.chat {
  float: left;
  height: 40px;
  margin-top: 5px;
  margin-left: 1%;
}

.nickname {
  font-weight: bold;
  color: ;
}

.timestamp {
  color: #999;
  float: right;
}

input[type="file"] {
  margin: 1.5em 0;
}