html, body {
  font-family: Roboto;
  line-height: 1.75em;
}

html, body, .view, .home-wrapper, .home, .sidebar, .pane {
  height: 100%;
}

.btn-dark:hover {
  color: #54B0FF;
}

.full-height {
  min-height: 100%;
  height: 100%;
}

.row {
  margin-right: 0;
}

.col-xs-9 {
  width: 74%;
}