.login, .login-wrapper {
  height: 100%;
}

.login-wrapper {
  background-color: #09091a;
  color: #ccc;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.login {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 440px;
}

.login h1 {
  margin-top: 0;
  padding-top: 1.5em;
  font-family: 'Oswald';
  color: white;
  text-align: center;
  font-weight: normal;
}

.login p {
  text-align: center;
  width: 100%;
}

.login p.title  {
  margin-top: 20px;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.login label {
  text-transform: uppercase;
  font-weight: normal;
}

.login hr {
  border-color: #ccc;
}

.login p a.btn {
  padding-top: 2px;
}