<section>
  <h2>Create a new channel</h2>
  <form ng-submit="vm.createChannel()">
    <div  class="form-group">
      <label for="channel">Channel name</label>
      <input id="channel" class="form-control" type="text" ng-model="vm.channelName" />
    </div>
    <button type="submit" class="btn btn-default">Create</button>
  </form>
</section>