<section>
  <h2>Upload your file</h2>
  <input ng-disabled="item.isReady" type="file" nv-file-select="" uploader="vm.uploader" />
  <button type="button" class="btn btn-success btn-s" ng-click="vm.uploader.uploadAll()" ng-disabled="!vm.uploader.getNotUploadedItems().length">
      <span class="glyphicon glyphicon-upload"></span> Upload
  </button>
  <button type="button" class="btn btn-warning btn-s" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading">
      <span class="glyphicon glyphicon-ban-circle"></span> Cancel
  </button>
  <button type="button" class="btn btn-danger btn-s" ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length">
      <span class="glyphicon glyphicon-trash"></span> Remove
  </button>
</section>