<main class="home-wrapper">
  <div class="home row">
    <section class="sidebar col-xs-3">
      <h1>CHAT</h1>
      <hr />
      <p>
        Status
        <span ng-if="vm.online" class="online">Online</span>
        <span ng-if="!vm.online" class="offline">Offline</span>
      </p>
      <hr />
      <p>Channels</p>
      <ul class="channels">
        <li ng-repeat="channel in vm.channels" ng-click="vm.changeChannel(channel)">{{channel.ChannelName}}</li>
        <li ng-click="vm.prepareChannel()">Create a channel</li>
      </ul>
      <hr />
      <p>Users</p>
      <ul>
        <li ng-repeat="user in vm.users" ng-click="vm.changeUser(user)">{{user.nickname}}<span ng-if="user.unread" class="unread"></span></li>
      </ul>
      <hr />
      <p class="logout" ng-click="vm.logout()">Log Out</p>
    </section>
    <section class="pane col-xs-9">
      <div class="pane-top">
        <span class="chat-name">{{vm.activeChat.name}}</span>
        <a ng-if="vm.activeChat.id !== -1" ng-click="vm.uploadFile()" class="btn btn-default pull-right">Upload file</a>
      </div>
      <section class="pane-main">
      <article class="chat-item" ng-repeat="message in vm.messages">
        <div class="user">
          <span class="nickname">{{message.nickname}}</span>
          <span class="timestamp">{{message.timestamp | date }}</span>
        </div>
        <div ng-if="!message.fileMessage" class="message">
          <p>{{message.message}}</p>
        </div>
        <div ng-if="message.fileMessage" class="message">
          <p ng-bind-html="message.fileMessage | trusted"></p>
        </div>
      </article>
      </section>
      <section class="pane-bottom">
        <form ng-submit="vm.sendMessage()">
          <input ng-disabled="vm.activeChat.id == -1 || !vm.online" class="chat" autocomplete="off" ng-model="vm.newMessage"/>
        </form>
      </section>
    </section>
  </div>
</main>