<main class="login-wrapper">
  <div class="login">
    <h1>CHAT</h1>
    <p class="titl">Sign In</p>

    <form name="loginForm" ng-submit="vm.login(vm.credentials)" novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" ng-model="vm.credentials.username">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ng-model="vm.credentials.password">
      </div>

      <button type="submit" class="btn btn-lg btn-block btn-primary">Sign In</button>
    </form>

    <hr />
    <p>Don't have an account? <a href="/register" class="btn btn-dark">Sign Up</a></p>
  </div>
</main>