<main class="login-wrapper">
  <div class="login">
    <h1>CHAT</h1>
    <p class="title">Create your account</p>

    <form name="registerForm" ng-submit="vm.register(vm.credentials)" novalidate>
      <div class="form-group">
        <label for="username">Email</label>
        <input type="text" class="form-control" ng-model="vm.credentials.email">
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" ng-model="vm.credentials.username">
      </div>

      <div class="form-group">
        <label for="username">Display Name</label>
        <input type="text" class="form-control" ng-model="vm.credentials.displayName">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ng-model="vm.credentials.password">
      </div>

      <button type="submit" class="btn btn-lg btn-block btn-primary">Register</button>
    </form>
  </div>
</main>